<div>
  <div class="align-center-flex">
    <div class="card" style="width: 35rem;">
      <div class="card-body">
        <h2> MUCHAS GRACIAS!</h2>
        <h3>Tu orden ha sido ingresada correctamente</h3>
        <h5>Nos comunicaremos contigo entre 3 y 5 días para verificar el pedido y coordinar la entrega</h5>
        <h6>Recuerda que puedes contactarnos a través de nuestro Instragram @manosalahuertauy o por Whatsapp al
          095665690 </h6>
        <hr>
        <div class="align-center-flex">
          <div class="form-group">
            <a class="btn btn-primary btn-md" [routerLink]="['/my/orders']">Ir a Mis Ordenes</a>
          </div>
        </div>
      </div>
    </div>
  </div>